
/* ********

mapping 

******** */


body {  
    margin:0px;
    background-color:#00051E;
}


#mapid { 
    height: 100%;
    width:100% 
}

/*  
//////////
*/


.bottomblender{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:25px;
    color: #ffffff;
    
	margin-top:30px;
}

.blender{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.innerblender{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:30px;
    color: #ffffff;
	margin-top:0px;
}
.orgs{
    border-color:#ddd;
    background-color:transparent;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    padding:10 10 10 10;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:15px;
    color: #aaaaaa;
	margin-top:0px;
    height:100%;
    width:50%;
    float:left;
}
.orgspop{
    position:absolute;
     border-color:#ddd;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    padding:10 10 10 10;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:15px;
    color: #aaaaaa;
	margin-top:0px;
    height:100%;
    width:50%;
    float:left;
    left:100px;
    top:100px;
    
    z-index:99;
  
}
.commandbuttons{
    border-color:#ddd;
    /*background-color:#fff;*/
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    padding:10 10 10 10;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:15px;
    color: #aaaaaa;
	margin-top:0px;
    height:100%;
    width:50%;
    float:right;
}

.orghead{
    color:#333;
    font-weight:bold;
    background-color:#f5f5f5;
    border-color:#aaa;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
.getinfo{
    border-color:#ddd;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    margin:10 10 10 10;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:15px;
    color: #aaaaaa;
	margin-top:0px;
    /*height:400px;*/
}
.getinfohead{
    color:#333;
    font-weight:bold;
    background-color:#f5f5f5;
    border-color:#aaa;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
.getstatus{
    border-color:#ddd;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    margin:10 10 10 10;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:15px;
    color: #aaaaaa;
	margin-top:0px;
    /*height:400px;*/
}
.getstatushead{
    color:#333;
    font-weight:bold;
    background-color:#f5f5f5;
    border-color:#aaa;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
.getchat{
    border-color:#ddd;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    margin:10 10 10 10;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:15px;
    color: #aaaaaa;
	margin-top:0px;
    /*height:400px;*/
}
.getchathead{
    color:#333;
    font-weight:bold;
    background-color:#f5f5f5;
    border-color:#aaa;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
.toolcontainer {position:relative; padding:0 0 0 0px;  }


.tools{
    position:fixed;
    font-family:"Blender", 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    /*margin-top:50px;*/
  
}
#toolbar{
    /*margin-top:50px;*/
    /*position:relative;*/

    margin-bottom:50px;
}
.countries{
    color:#ff0000;
}
 #leftcontainer {
     height:80%;
     background: #00051E;
 }
 #histogram{
     height:20%;
     background:#00051E;
 }
  #bottomcontainer {
     height:100%;
     background: #333333;

 }
 .leftheader{
     padding-left:10px;

 }

#maintool{
   height:80%;
   background: #333;
  
}
.topright{
    /*background-color:#FFA500;*/
    height:100%;
}
.botright{
    /*background-color:#0FA500;*/
    height:50%;
}


 #rightsidebar {
     height:100%;

     background: #999999; 
 
 }
 

/*************
**************/
.rowwithside::after {
    content: "";
    clear: both;
    display: block;
}
.rowwithside{
    position: relative;
    margin-left:40px;
    /*margin-bottom:-100px;*/   
}



* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
    /*margin-left:20px;*/
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /*border: 1px solid red;*/
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-custom1 {width: 20%;}
.col-custom2 {width: 5%;}
.col-custom3 {width: 75%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*****
*****/

[class*="colz-"] {
    float: left;
    padding: 0px;
    /*border: 1px solid red;*/
}
.colz-1 {width: 8.33%;}
.colz-2 {width: 16.66%;}
.colz-3 {width: 25%;}
.colz-custom1 {width: 250px;}
.colz-custom2 {width: 5%;}
.colz-custom3 {width: 75%;}
.colz-half{width: -webkit-calc(100% - 350px);
    width:    -moz-calc(100% - 350px);
    width:         calc(100% - 350px);}
.colz-otherhalf{width:350px;}
.colz-lefthalf{
    width:300px;
}
.colz-custom4 {width: -webkit-calc(100% - 250px);
    width:    -moz-calc(100% - 250px);
    width:         calc(100% - 250px);}
.colz-4 {width: 33.33%;}
.colz-5 {width: 41.66%;}
.colz-6 {width: 50%;}
.colz-7 {width: 58.33%;}
.colz-8 {width: 66.66%;}
.colz-9 {width: 75%;}
.colz-10 {width: 83.33%;}
.colz-11 {width: 91.66%;}
.colz-12 {width: 100%;}











/* ///////// */


.pad{
    position: absolute;
    right:0px;
}



ul {

    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #202020;
    position: fixed;
    top: 0;
    width: 100%;
    display:inline-block; /*for logo*/
}
li {
    float: left;
    list-style-type: none;
}

li img {
    display: block;
    text-decoration: none;    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
}

li a:hover:not(.active) {
    background-color: #303030;
}

.active {
    background-color: #4CAF50;
}

/********
circles and stuff
*******/
.legend{
    display:block;
    margin-bottom:15px;
}
#circleorange{
   
    width:25px;
    height:25px;
    background:#FFA500;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display:inline-block;
    vertical-align:middle;
}
#circlered {
    width:25px;
    height:25px;
    background:#f00;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    display:inline-block;
    vertical-align:middle;
}

#circleblue{
    width:25px;
    height:25px;
    background:#0019e5;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    display:inline-block;
    vertical-align:middle;
}
.circledescript{
    color:#fff;
    margin-left:10px;
    font-family:"Blender","Helvetica",Arial,sans-serif;
    position:relative;
    text-align:left;
    vertical-align:middle;
    display:inline-block;
}
/****
****/
.custom .leaflet-popup-tip,
.custom .leaflet-popup-content-wrapper {
    background:#6b0012;
    color: #ffffff;
    font: 10pt "Blender", sans-serif; 
}
.leaflet-control-attribution{
    display: none !important;
}

.leaflet-left{
    display: none !important;
}
.leaflet-bar, .leaflet-control-layers{
    background-color:#00051E !important;
}
.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #0a87bd;
    color:#fff;
}



/* soflow by ericrasch */
.soflow select {
  font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
  vertical-align: top; /* try this */
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   /*margin: 23px 20px 20px 20px;*/
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 100%;
  

}



.search-bar {
    height: 37px;
    background-color: #e1e1e1;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
	position:relative;
    width:100%;
    }
    

.search-bar .searchbutton {
    position:absolute;
	top:23%;
	right:5px;
    }

.sfield {
    font-family: 'Blender', 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    float: left;
    margin: 5px 0 0 8px;
    font: 18px;
    font-size:18px;
    color: #000;
    font-weight: bold;
    height: 30px;
    line-height: 18px;
    padding: 0;
    background: transparent;
    border: 0;
    width:80%;

    }




/* google autocomplete */

.rightdata{
     font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:25px;
    color: #ffffff;
	margin-top:10px;
}
.pac-container:after {
   font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;

    background-image: none !important;
    height: 0px;
}
.pac-item-query { 
    font-family:"Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:bold;
    /*font-size: 12px; */
    }
/*.pac-icon{
    background:url("qw.png");
     background-position:center; 
  background-repeat:no-repeat; 
  background-size:16px 20px; 
  border:none; 
}*/
/*.pac-icon-marker {
  background-position: -1px -161px;
}*/
.pac-icon {
  width: 15px;
  height: 18px;
  /*margin-right: 7px;
  margin-top: 6px;*/
  display: inline-block;
  vertical-align: top;
  background-image: url("qw.png");
  background-size: 18px;
}
.hdpi .pac-icon {
  background-image: url("qw.png");
}




/*location*/


#tftextinput {
    position: absolute;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    left:230px;
    top: 23px;
    width: 239px;

    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(255,255,255,1);
    margin-left: -140px;
    border: 1px solid #656565;
    font-size: 17px;
    height: 35px;
    outline: none;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
    z-index: 90;
}

.location_search_div{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  z-index:99;
}
.customLogo{
    position:absolute;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    left:50px;
    top:23px;
    color:#fff;
    width: 36px;
    height: 36px;
    /*background: #259cdb !important;*/
    /*border: 1px solid #656565 !important;*/
    border-radius: 2px !important;
    /*box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);*/
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 50;
    background-image: url("cmupd.png");
}


.jcpLeftNav{
    position:absolute;
    top:80px;
    left:10px;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    color:#fff;
    width: 60px;
    height: 180px;
    background: #333 !important;
    border: 1px solid #656565 !important;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 30;
}


#buttonfont{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.button1{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    color:#aaa;
    width: 100%;
    height: 60px;
    background: #222 ;
    border: 1px solid #434343 ;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 30;
    cursor: pointer; 
}
.button2{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    color:#aaa;
    top:60px;
    width: 100%;
    height: 60px;
    background-color: #222 ;
    border: 1px solid #434343 ;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 50;
    cursor: pointer; 
}
.button3{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    color:#aaa;
    top:120px;
    width: 100%;
    height: 60px;
    background-color: #222 ;
    border: 1px solid #434343  ;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 50;
    cursor: pointer; 
}
.wowbutton{
    text-align:center;
  position:relative;
  font-family: "Blender",'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #4CAF50;
  border: 2px solid #43A047;
  width:50%;
  padding: 10px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
}
.wowbutton:hover {
  background: #43A047;
}
.panicbutton{
    text-align:center;
  position:relative;
  font-family: "Blender",'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #f00;
  /*border: 2px solid #f00;*/
  width:50%;
  padding: 10px;
  color: #FFF;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
  /*transition: border 0.4s ease-in-out;*/
}
.panicbutton:hover {
  background: #FFA500;
  /*border: 2px solid #FFA500;*/
}

.buttonTemp{
    position:absolute;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    color:#fff;
    top:23px;
    left:330px;
    width: 35px;
    height: 35px;
    background: #259cdb !important;
    border: 1px solid #434343  !important;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 11px !important;
    z-index: 30;
    cursor: pointer; 

}
.midblue{
    left:100px;
    top:100px;
    position:absolute;
    z-index:99;
    background-color:#fff;
    width:100px;
    height:100px;
}
/*.orginfo{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    color:#43A047;

}*/
.statusinfo{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:20px;
    color:#43A047;

}
.chatbutton{
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align:center;
    color:#fff;
    width: 100%;
    height: 50px;
    font-size:30px !important;
    background: #4CAF50 !important;
    border: 1px solid #434343 !important;
    border-radius: 2px !important;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    outline: none;
   
    /*font-size: 11px !important;*/
    z-index: 30;
    cursor: pointer; 
}
textarea{
  font-family: 'Blender', sans-serif;
  outline: 0;
  background: #a2a2a2;
  width: 100%;
  height:50px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

/* For JQUERY TABS */
/*#tabs-nohdr { 
    position:relative;
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs-nohdr .ui-tabs-nav { 
    position:absolute;
    padding-top:-20px;
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs-nohdr .ui-tabs-panel { 
    background: #f5f3e5 url(http://code.jquery.com/ui/1.8.23/themes/south-street/images/ui-bg_highlight-hard_100_f5f3e5_1x100.png) repeat-x scroll 50% top; 
    border-width: 0px 1px 1px 1px; 
}*/
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    height:20px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    color:#000;
}
/*.getchat{
    border-color:#ddd;
    background-color:#fff;
    border:1px solid transparent;
    border-radius:4px;
    box-shadow:0 1px 1px rgba(0,0,0,0.05);
    margin:10 10 10 10;
    font-family: "Blender","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
    font-size:15px;
    color: #aaaaaa;
	margin-top:0px;
}
.getchathead{
    color:#333;
    font-weight:bold;
    background-color:#f5f5f5;
    border-color:#aaa;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}*/

/*dropup*/
